#Data munging Basic
Segment 3 Removing Duplicate from the data

In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [9]:
DF_obj = DataFrame({'column 1':[1, 2, 3, 3, 4, 4, 4],
                 'column 2':['a','a','b','b','c','c','c'],
                 'column 3':[1,2,3,3,4,4,2]})
DF_obj

   column 1 column 2  column 3
0         1        a         1
1         2        a         2
2         3        b         3
3         3        b         3
4         4        c         4
5         4        c         4
6         4        c         2

In [10]:
#.duplicated() to find multiple values
DF_obj.duplicated()

0    False
1    False
2    False
3     True
4    False
5     True
6    False
dtype: bool

In [13]:
#remove duplicate use drop)duplicate method.
DF_obj.drop_duplicates()

   column 1 column 2  column 3
0         1        a         1
1         2        a         2
2         3        b         3
4         4        c         4
6         4        c         2

In [1]:
#remove duplicated values from colums
DF_obj.drop_duplicates(['colums 3'])

NameError: name 'DF_obj' is not defined